<div class="container">
  <div class="row">
   
  
    <div class="success" *ngIf="authService.user | async">
      <h4>Bienvenido/a <i>{{ (authService.user | async)?.email }}</i></h4>
      <button (click)="atras()" class="btn btn-success btn-md pull-right">
        Volver atras
      </button>

</div>
  </div>
    <h1>MEMOTEST</h1>
    <div class="juego">
      <!-- <h4 class="mensaje">{{mensaje}}</h4>
      <h4 class="mensaje">{{respuesta}}</h4>
      <h6 class="mensaje">Cantidad de intentos: {{intentos}}</h6> -->
      <div class="row">
        <div class="col tarjeta tarjetaBack">
        <!-- *ngIf="tarjetas[0]" -->
        
          <img class="mx-auto d-block" src="../../../assets/imagenes/vaca.jpg">
        </div>
        <div  class="col tarjeta tarjetaBack">
        <!-- *ngIf="!tarjetas[0]"  
        (click)="descubrirTarjeta(0)" -->
        
          <img class="mx-auto d-block"  src="../../../assets/imagenes/vaca.jpg">
        </div>
       <div  class="col tarjeta tarjetaBack">
          <img class="mx-auto d-block" src="../../../assets/imagenes/pato.jpg">
        </div>
        <div  class="col tarjeta tarjetaBack">
          <img  class="mx-auto d-block"  src="../../../assets/imagenes/pato.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col tarjeta tarjetaBack">
          <img class="mx-auto d-block" src="../../../assets/imagenes/oveja.jpg">
        </div>
        <div  class="col tarjeta tarjetaBack">
          <img class="mx-auto d-block" src="../../../assets/imagenes/oveja.jpg">
        </div>
        <div  class="col tarjeta tarjetaBack">
          <img class="mx-auto d-block" src="../../../assets/imagenes/gallina.jpg">
        </div>
        <div  class="col tarjeta tarjetaBack">
          <img class="mx-auto d-block"  src="../../../assets/imagenes/gallina.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col tarjeta tarjetaBack">
          <img class="mx-auto d-block"src="../../../assets/imagenes/chancho.jpg">
        </div>
        <div class="col tarjeta tarjetaBack">
          <img class="mx-auto d-block" src="../../../assets/imagenes/chancho.jpg">
        </div>
        <div  class="col tarjeta tarjetaBack">
          <img class="mx-auto d-block" src="../../../assets/imagenes/caballo.jpg">
        </div>
        <div  class="col tarjeta tarjetaBack">
          <img class="mx-auto d-block"  src="../../../assets/imagenes/caballo.jpg">
        </div> 
      </div>
      <div class="row">
        <div class="col centrar">
          <!-- <app-button-resetear (emitData)="jugarDeNuevo()"></app-button-resetear> -->
        </div>
      </div>
    </div>
  </div>