<!DOCTYPE>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>

  <div class="container" style="position: absolute;">
    <div class="row">
      <h2 style="text-align:center"><i>{{ title }}</i></h2>
      <div class="col" *ngIf="!(authService.user | async)">
        <div >
            <label for="email">Email       </label>
        </div>
            <div >
            <input type="text" [(ngModel)]="emailAddress" placeholder="Ingrese correo . . . ." required>
          </div>
          <div >
            <label for="email">Contraseña</label>
        </div>
        <div >
            <input type="password" [(ngModel)]="password" placeholder="Ingrese contraseña . . . ." required>
        </div>

        <button (click)="signup()" [disabled]="!emailAddress || !password" class="btn btn-success btn-md">
          Registro
        </button>
        <div class="form-group mt-3">
            <p>
           Tengo una cuenta ? <a [routerLink]="['/login']"> Login </a>
           </p>
         </div>
      </div>


    </div>
    
 
  </div>

</body>

</html>