 
 <html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  
  <body>
  
    <div class="container">
      <div class="row">
   
  
        <div class="success" *ngIf="authService.user | async">
          <h4>Bienvenido/a <i>{{ (authService.user | async)?.email }}</i></h4>
          <button (click)="atras()" class="btn btn-success btn-md pull-right">
            Volver atras
          </button>
 
    </div>
      </div>
      <div >
        <h2 >Quién Soy?</h2>
        <img src="./assets/quiensoy.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350" position="left">
        <h2>Soy Un alumno de la UTN FRA</h2>
      </div>
      <div id ="que" class="container-fluid bg-2 text-center">
        <h3 class="margin">Esto es un trabajo práctico</h3>
        <p> El objetivo es hacer caer piezas e ir rellenando huecos para conseguir hacer líneas. Una vez creadas, desaparecen, y nos interesa hacerlo de cuatro en cuatro en vez de una en una por los puntos que hay implicados en ello. Si consigues una de cuatro, felicidades, acabas de hacer un Tetris.</p>
        <br>
     
      </div> 
    </div>
    <div id ="donde" class="container-fluid bg-3 text-center">    
      <h3 class="margin">Dónde Funciona?</h3><br>
      <div class="row">
        <div class="col-sm-4">
          <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
          <img src="./assets/imagenes/quiensoy1.jpg" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
        </div>
        <div class="col-sm-4"> 
          <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
          <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div>
        <div class="col-sm-4"> 
          <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
          <img src="./assets/imagenes/quiensoy3.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div>
      </div>
    </div>  
  </body>
  
  </html>
 
 
 

  

