<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>

  <div class="container">
    <div class="row">
 

      <div class="success" *ngIf="authService.user | async">
        <h3>Bienvenido/a <i>{{ (authService.user | async)?.email }}</i></h3>
        <button (click)="logout()" class="btn btn-success btn-md pull-right">
          Logout
        </button>
        
<div id="main">

  <nav>
    <a>Juegos</a>
    <a>Puntuaciones</a>
    <a [routerLink]="['/quiensoy']" >Quien Soy?</a>
 </nav>

</div>
    
  </div>
    </div>
    
 
  </div>

</body>

</html>